@font-face {
    font-family: Helvetica-Bold;
    /* src: url(Helvetica-Bold.ttf); */
    src: url(Helvetica-Bold-Font.ttf);
    /* font-weight: bold; */
  }
@font-face {
    font-family: Poppins-Black;
    src: url(Poppins-Black.ttf);
  }
@font-face {
    font-family: Poppins-BlackItalic;
    src: url(Poppins-BlackItalic.ttf);
  }
@font-face {
    font-family: Poppins-Light;
    src: url(Poppins-Light.ttf);
  }
@font-face {
    font-family: Poppins-Bold;
    src: url(Poppins-Bold.ttf);
  }
@font-face {
    font-family: Poppins-Medium;
    src: url(Poppins-Medium.ttf);
  }
@font-face {
    font-family: Poppins-Italic;
    src: url(Poppins-Italic.ttf);
  }
@font-face {
    font-family: Poppins-Regular;
    src: url(Poppins-Regular.ttf);
  }
